<link rel="stylesheet" type="text/css" href="../public/css/style.css" />


<h1><%= dbAndApi.movie.name %></h1>


<a href="/">Home</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
<a href="/search">Search</a>
<a href="/movies">All Movies</a>
<a href="/movies/add">Add Movie</a>
<br><br>

<h3>Movie Name: <strong><%= dbAndApi.movieList[0].Title %></strong></h3>


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>




  <% if (dbAndApi.movieList.length === 1) { %>
    <div id="oneFound">
      <p> We Found <strong>Movie Name</strong>,</p>
      <p>a <strong>comedy </strong>released in <strong>1992</strong></p>
    </div>
  <% } else if (dbAndApi.movieList.length > 1) { %>

    <div id="manyFound">
    <h4>We found multiple results for that title</h4> <br>
      <form id="manyForm" action="/search/results" method="GET">
        <% for (i = 0; i < 6; i++) { %>
            <input id="r1" type="radio" name="title" name="<%= dbAndApi.movieList[i].Title %>" > <strong>Result: <%= dbAndApi.movieList[i].Title %></strong>
            <br>Release Year: <%= dbAndApi.movieList[i].Year %>
            <br>Type: <%= dbAndApi.movieList[i].Type %>
            <% for (var j = 0; j < 2; j++) { %>
              <br>Genre: <%= dbAndApi.imdbID.genre[j] %>
            <% } %>
            <br>Score: <%= dbAndApi.imdbID.rating %>
            <% for (var k = 0; k < 3; k++) { %>
              <br>Actors: <%= dbAndApi.imdbID.stars[k] %>
            <% } %>
            <br>Rating: <%= dbAndApi.imdbID.content_rating %>
            <br>Website: <%= dbAndApi.imdbID.url %>
            <br>Trailer: <%= dbAndApi.imdbID.trailer[0].videoUrl %>
            <br>Story: <%= dbAndApi.imdbID.description %>
            <br>Poster: <%= dbAndApi.imdbID.poster.thumb %>
          <% } %>
          <br>
        <input id="selectFilmButton" class="btn btn-danger" type="submit" value="Select This Film">
      </form>
    </div>
  <% } else { %>
    <div id="noneFound">
      <p>Sorry, we could not find any movies under that title.</p>
    </div>
  <% } %>
